<?xml version="1.0" encoding="utf-8" ?>
<plugin
	version="${plugin.version}"
	id="${plugin.dir}"
	name="${plugin.name}"
	licensable="${plugin.licensable}"
	scope_name="${plugin.scope_name}"
	scope_sys_id="${plugin.scope_sys_id}"
	provider_name="ServiceNow">

	<description>Example scoped app.</description>
</plugin>